<!DOCTYPE html>
<!---->
{% load static %}


<html>	
    <link rel="shortcut Icon" href="{% static 'favicon.ico' %}">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
			Wear Well Wardrobe - Edit Category
		</title>

        <!-- Mobile scaling -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Link to the Icons style sheet -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
        <!-- CSS is now in static - though unsure if its acutally working -->
        <link rel="stylesheet" href="{% static 'styles.css' %}">

        <script src=""></script>
                <!-- Not sure if we want all javascript in one file or multiple? -->
        <script src=""></script>

	<!-- Custom block header stuff here-->
    </head>
	<script>
		
	
	</script>
	
	<body style="height:10rem" onload="">
		
		<h3>Category updated</h3>
		
		<p>If this was a mistake, close the window and try again</p>

	</body>
</html>